<mat-toolbar color="primary" fxLayoutGap="10px">
    <div fxHide.gt-xs>
      <button (click)="toggleSidenav()" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div><a routerLink="/" routerLinkActive="router-link-active">LOGO</a></div>
    <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide fxShow.gt-xs>
      <ul fxLayout class="navigation-items" fxLayoutGap="10px">
        <li *ngIf="!isConnected">
          <a routerLink="/signup">SignUp</a>
        </li>
        <li *ngIf="!isConnected">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="isConnected">
          <a routerLink="/training">Training</a>
        </li>
        <li *ngIf="isConnected">
          <a (click)="onLogout()">Logout</a>
        </li>
      </ul>
    </div>
  </mat-toolbar>
